* {
    margin: 0;
    padding: 0;
}

body {
    font-family: verdana;
}

#wrapper {
    background: #ededed;;
}

.main {
    width: 1200px;
    margin: 0 auto;
}

/* main-1 all styles */

#main-1 {
    background: #fff;
    height: 50px;
}

#top-navigation {
    line-height: 50px;
}

#top-navigation ul {
    list-style-type: none;
}

#top-navigation ul li {
    float: left;
    margin-right: 30px;
}

#top-navigation ul li a {
    color: #000;
    text-decoration: none;
}

/*------------------------------*/

/* main-2 all styles */

#main-2 {
    background: #fd0101;
    height: 100px;
    line-height: 100px;
}

.grid {
    float: left;
    height: 100px;
}

.grid-1 {
    width: 240px;
    margin-right: 160px;
}

.grid-2 {
    width: 370px;
    margin-right: 190px;
}

.grid-3 {
    width: 140px;
    line-height: 25px;
    margin-top: 20px;
}

.grid-4 {
    width: 65px;
    position: relative;
}


#site-name a {
    color: #fff;
    text-decoration: none;
    font-size: 70px;
    margin-left: -5px;
}

#search {
    height: 45px;
    width: 360px;
    border: 1px solid #fff;
    padding-left: 5px;
    font-size: 20px;
}

#cart-img {
    width: 60px;
    margin-top: 20px;
}

#cart-sum {
    position: absolute;
    top: -10px;
    left: 28px;
    color: #fff;
}

/* ------------------------------ */

/* main-3 all styles */

#main-3 {
    height: 640px;
}

.last-album {
    position: relative;
    width: 40%;
    float: left;
    margin-top: -20px;
}

.lasts-albums {
    width: 60%;
    float: right;
    margin-top: -20px;
}

.last-album img {
    width: 100%;
    height: 640px;
}

.last-album-bottom {
    position: absolute;
    bottom: 3px;
    height: 120px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.last-album-bottom .last-album-artist {
    margin: 10px 0 10px 10px;
    font-size: 45px;
}

.last-album-bottom .last-album-name {
    margin-left: 10px;
    font-size: 30px;
    color: #fd0101;
}

.main-3-list-albums {
    position: relative;
    width: 25%;
    height: 320px;
    float: left;
}

.main-3-list-albums img {
    width: 100%;
    height: 320px;
}

.lasts-albums-bottom {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.lasts-albums-artist {
    color: #fff;   
}

.lasts-albums-name {
    color: #fd0101;
}
/* ------------------- */