* {
    margin: 0;
    padding: 0;
}

body {
    font-family: verdana;
}

#wrapper {
    background: #ededed;;
}

.main {
    width: 1200px;
    margin: 0 auto;
}

/* main-1 all styles */

#main-1 {
    background: #fff;
    height: 50px;
}

#top-navigation {
    line-height: 50px;
}

#top-navigation ul {
    list-style-type: none;
}

#top-navigation ul li {
    float: left;
    margin-right: 30px;
}

#top-navigation ul li a {
    color: #000;
    text-decoration: none;
}

/*------------------------------*/

/* main-2 all styles */

#main-2 {
    background: #fd0101;
    height: 100px;
    line-height: 100px;
}

.grid {
    float: left;
    height: 100px;
}

.grid-1 {
    width: 240px;
    margin-right: 160px;
}

.grid-2 {
    width: 370px;
    margin-right: 190px;
}

.grid-3 {
    width: 140px;
    line-height: 25px;
    margin-top: 20px;
}

.grid-4 {
    width: 65px;
    position: relative;
}


#site-name a {
    color: #fff;
    text-decoration: none;
    font-size: 70px;
    margin-left: -5px;
}

#search {
    height: 45px;
    width: 360px;
    border: 1px solid #fff;
    padding-left: 5px;
    font-size: 20px;
}

#cart-img {
    width: 60px;
    margin-top: 20px;
}

#cart-sum {
    position: absolute;
    top: -10px;
    left: 28px;
    color: #fff;
}

/* ------------------------------ */

/* main-3 all styles */

#main-3 {
    
}

.last-album {
    position: relative;
    float: left;
    width: 35%;
    margin-top: -20px;
}

.lasts-albums-list {
    float: right;
    width: 65%;
    margin-top: -20px;
}

.last-album img {
    height: 523px;
    width: 100%;
}

.album-small-banner {
    float: left;
    width: 25%;
    height: 261.5px;
    position: relative;
}

.album-small-banner img {
    width: 100%;
    height: 261.5px;
}

.last-album-details {
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 120px;
    background: rgba(0, 0, 0, 0.6);
}

.last-album-details .album-artist {
    color: #fff;
    margin: 5px 0 0 5px;
    font-size: 50px;
}

.last-album-details .album-name {
    color: #fd0101;
    margin: 5px 0 0 5px;
    font-size: 35px;
}

.lasts-albums-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, 0.8);
}

.lasts-albums-details .album-artist {
    color: #fff;
    margin: 5px 0 0 5px;
    font-size: 25px;
}

.lasts-albums-details .album-name {
    color: #fd0101;
    margin: 5px 0 0 5px;
    font-size: 20px;
}

/* ------------------- */

/* main-4 all styles */

#main-4 {
      
}